@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';.clearfix:after{content:'';display:table;clear:both}*{margin:0;padding:0;border:0}body{font-family:sans-serif}a{text-decoration:none}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
