@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

// minxiny


.clearfix {
	&:after { content: ''; display: table; clear: both; }
}


// less


* {	margin: 0px; padding: 0; border: 0; }
body { font-family: sans-serif; }
a { text-decoration: none; }
